$enable_rounded: false;

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/_images";
@import "~bootstrap/scss/_code";
@import "_grid";
@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_dropdown";
@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_input-group";
@import "~bootstrap/scss/_custom-forms";
@import "~bootstrap/scss/_nav";
@import "_navbar";
@import "_card";
//@import "~bootstrap/scss/_breadcrumb";
//@import "~bootstrap/scss/_pagination";
//@import "~bootstrap/scss/_badge";
//@import "~bootstrap/scss/_jumbotron";
//@import "~bootstrap/scss/_alert";
//@import "~bootstrap/scss/_progress";
//@import "~bootstrap/scss/_media";
//@import "~bootstrap/scss/_list-group";
//@import "~bootstrap/scss/_close";
//@import "~bootstrap/scss/_toasts";
//@import "~bootstrap/scss/_modal";
//@import "~bootstrap/scss/_tooltip";
//@import "~bootstrap/scss/_popover";
@import "_carousel";
//@import "~bootstrap/scss/_spinners";
@import "~bootstrap/scss/_utilities";
@import "~bootstrap/scss/_print";

@import "_hero";

html {
	scroll-behavior: smooth;
	--root-width: var(width);
}
body {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 100px;
}
.bg-dark {
	background: linear-gradient(to right, #14355c, #275C90) center / 1140px no-repeat, linear-gradient(to right, #14355c, #14355c) left / 50% no-repeat, linear-gradient(to right, #275C90, #275C90) right / 50% no-repeat;
	background-color: #275C90 !important;
	background: linear-gradient(to right, #30D5C8, #275C90) center / 1140px no-repeat, linear-gradient(to right, #30D5C8, #30D5C8) left / 50% no-repeat, linear-gradient(to right, #275C90, #275C90) right / 50% no-repeat;
	background-color: #275C90 !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);

  	&:hover, &:focus {
		color: rgba(255, 255, 255, 0.9);
  	}
}

section, section * {
	display: flex;
	flex-direction: column;
}

p {
	display: block;
	* { display: inline; }
}

.btn-dark, .btn-light {
	font-weight: bold;
}
.btn-light {
	background-color: #FFC300;
	background-color: #30D5C8;
	color: black;
	border-color: black;
}
.hero .btn-light {
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	font-weight: normal;
}
.btn-dark {
	background-color: #1a1b1f;
	background-color: #f5f5f5;
	color: #1a1b1f;
}
.nav-link, .btn {
	text-transform: uppercase;
	font-size: 12px;
}
.btn {
	align-items: center;
}
.btn-lg {
	font-size: 16px;
}
.nav-link {
	font-weight: 500;
	letter-spacing: 1px;
}
.btn {
	letter-spacing: 2px;
}
#navbar-content .btn {
	padding: 12px 25px;
}


section {
	padding-top: 10vh;
	margin-bottom: 2vh;
	text-align: justify;
	align-items: center;
}

h3 {
	font-size: 1.5rem;
	font-weight: normal;
}

.bg-dark {
	color: white;
}
.bg-white {
	color: #212529;
}
.bg-dark .bg-white {
	height: 100%;
}

section > * {
	justify-content: center;
}
section > *:not(:last-child) {
	margin-bottom: 50px;
}

section > p {
	max-width: 900px;
}

.card-body > *:not(:last-child) {
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.flex-row-md {
		flex-direction: row;
	}
}

.form-grid {
	margin-top: -5px;
	margin-bottom: -5px;
}

.form-grid > * {
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-row {
	flex-direction: row;
}

form {
	font-size: 0.8rem;
}

.custom-control-label::before, .custom-control-label::after {
	top: 0.2em;
}

.row-new > * {
	margin: -25px;
	flex-flow: row wrap;

	> * {
		width: 350px;
		border: 25px solid white;
		flex-grow: 1;

		> * {
			flex-grow: 1;
		}
	}
}

#blog .row-new > * {
	h3 {
		font-size: 1.2rem;
		background-color: white;
		color: black;
	}
	p {
		font-size: 0.8rem;
	}

	> :nth-child(1) {
		@media (min-width: 720px) {
			width: 700px;
			flex-grow: 2;
		}
		h3 {
			font-size: 1.8rem;
			background-color: transparent;
			color: white;
		}
	}
}
