@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

$enable_rounded: false;

$headings-font-weight: normal;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.9;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.3;
$h5-font-size: $font-size-base * 1.2;
$h6-font-size: $font-size-base * 1.1;

@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/_images";
@import "~bootstrap/scss/_code";
@import "_grid";
@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_dropdown";
@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_input-group";
@import "~bootstrap/scss/_custom-forms";
@import "~bootstrap/scss/_nav";
@import "_navbar";
@import "_card";
//@import "~bootstrap/scss/_breadcrumb";
//@import "~bootstrap/scss/_pagination";
//@import "~bootstrap/scss/_badge";
//@import "~bootstrap/scss/_jumbotron";
//@import "~bootstrap/scss/_alert";
//@import "~bootstrap/scss/_progress";
//@import "~bootstrap/scss/_media";
//@import "~bootstrap/scss/_list-group";
//@import "~bootstrap/scss/_close";
//@import "~bootstrap/scss/_toasts";
//@import "~bootstrap/scss/_modal";
//@import "~bootstrap/scss/_tooltip";
//@import "~bootstrap/scss/_popover";
@import "_carousel";
//@import "~bootstrap/scss/_spinners";
@import "~bootstrap/scss/_utilities";
@import "~bootstrap/scss/_print";

@import "_hero";

html {
	scroll-behavior: smooth;
	--root-width: var(width);
}
body {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 100px;
}
.bg-dark {
	background: linear-gradient(to right, #14355c, #275C90) center / 1140px no-repeat, linear-gradient(to right, #14355c, #14355c) left / 50% no-repeat, linear-gradient(to right, #275C90, #275C90) right / 50% no-repeat;
	background-color: #275C90 !important;
	background: linear-gradient(to right, #30D5C8, #275C90) center / 1140px no-repeat, linear-gradient(to right, #30D5C8, #30D5C8) left / 50% no-repeat, linear-gradient(to right, #275C90, #275C90) right / 50% no-repeat;
	background-color: #275C90 !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);

  	&:hover, &:focus {
		color: rgba(255, 255, 255, 0.9);
  	}
}

section, section * {
	display: flex;
	flex-direction: column;
}

section {
	p {
		display: block;
		* { display: inline; }
	}

	li {
		display: list-item;
		padding-left: 1em;

		> p, > ul, > ol {
			margin-bottom: 1rem;
		}
	}
}

.btn-dark, .btn-light {
	font-weight: bold;
}
.btn-light {
	background-color: #FFC300;
	background-color: #30D5C8;
	color: black;
	border-color: black;
}
.hero .btn-light {
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	font-weight: normal;
}
.btn-dark {
	background-color: #1a1b1f;
	background-color: #f5f5f5;
	color: #1a1b1f;
}
.nav-link, .btn {
	text-transform: uppercase;
	font-size: 12px;
}
.btn {
	align-items: center;
}
.btn-lg {
	font-size: 16px;
}
.nav-link {
	font-weight: 500;
	letter-spacing: 1px;
}
.btn {
	letter-spacing: 2px;
}
#navbar-content .btn {
	padding: 12px 25px;
}


section {
	padding-top: 5vh;
	margin-bottom: 2vh;
}

#app > section {
	margin-top: -50px;
	padding-top: 100px;
}

.bg-dark {
	color: white;
}
.bg-white {
	color: #212529;
}
.bg-dark .bg-white {
	height: 100%;
}

section, section > .passthru {
	text-align: justify;
	align-items: center;

	> * {
		justify-content: center;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
}

section > p, section > .passthru > p {
	max-width: 900px;
}

.card-header {
	text-align: left;
}
.card-body > *:not(:last-child) {
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.flex-row-md {
		flex-direction: row;
	}
}

.form-grid {
	margin-top: -5px;
	margin-bottom: -5px;
}

.form-grid > * {
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-row {
	flex-direction: row;
}

form {
	font-size: 0.8rem;
}

.custom-control-label::before, .custom-control-label::after {
	top: 0.2em;
}

.row-new > * {
	margin: -25px;
	flex-flow: row wrap;

	> * {
		width: 350px;
		border: 25px solid white;
		flex-grow: 1;

		> * {
			flex-grow: 1;
		}
	}
}

#blog .row-new > * {
	h3 {
		font-size: 1.2rem;
		background-color: white;
		color: black;
	}
	p {
		font-size: 0.8rem;
	}

	> :nth-child(1) {
		@media (min-width: 720px) {
			width: 700px;
			flex-grow: 2;
		}
		h3 {
			font-size: 1.8rem;
			background-color: transparent;
			color: white;
		}
	}
}

.with-sidebar {
	align-items: stretch;

	> * {
		flex-flow: row wrap;
		align-items: flex-start;

		margin: -25px;

		> * {
			margin: 25px;
		}

		> :first-child {
			width: 500px;
			flex-grow: 1;
		}

		> :last-child {
			width: 250px;

			ul {
				padding: 0;

				li {
					padding: 0;
					display: block;
					text-align: left;

					* {
						display: inline;
					}
				}
			}
		}
	}
}

article > * {
	align-items: stretch;

	> * {
		margin-top: 0.5em;
		margin-bottom: 0.3em;
		padding-top: 0;
		padding-bottom: 0;
	}

	> :first-child {
		margin-top: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	> nav {
		display: block;

		> * {
			display: block;

			* {
				display: inline;
			}
		}
	}
}

aside {
	text-align: left;
}

section a[href] {
	border-bottom: 1px solid;
	border-bottom-color: hsla(0, 0%, 0%, 0.25) !important;
	color: inherit;
	text-decoration: none;
	transition: border-bottom-color 0.15s ease-in-out;

	&:hover {
		border-bottom-color: currentColor !important;
	}
}

img {
	width: 100%;
}

blockquote {
	border-left: 0.2em solid #ccc;
	padding: 1em 0 1em 1.5em;
	color: #777;

	> :last-child {
		margin-bottom: 0;
	}
}
